<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/gabo89/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="gabo89" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>